<div class="container">
  <h2 class="title">Cadastro de Curso</h2>
  <form class="form-group" [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-4">
      <label for="titulo" class="form-label">Título</label>
      <input type="text" class="form-control" formControlName="titulo" id="titulo">

    </div>

    <div class="form-group col-md-12">
      <label for="professor" class="form-label">Professor</label>
      <input formControlName="professor" id="professor" class="form-control">
    </div>

    <div class="form-group col-md-4">
      <label for="campodetexto" class="form-label">Imagem (url)</label>
      <input class="form-control" formControlName="foto" id="campodetexto">

    </div>

    <div class="form-group col-md-4">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea class="form-control" formControlName="descricao" id="descricao" rows="3"></textarea>
    </div>
    <!--Ainda falta terminar, não está funcionando: Aula #107-->

    <!--Até aqui-->
    <div class="box-btn">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
    </div>
  </form>
</div>


<app-footer></app-footer>
