.container {
  padding-top: 22vh;
  padding-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
}

input,textarea {
  min-width: 30vw;
  resize: none;
}

.box-btn {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.form-check-input {
  margin-left: 0.5rem;
  margin-top: 0.4rem;
}
