
  <!--h2 class="title">Nossos Cursos</!--h2-->

  <div class="box-cards" *ngIf="cursos">
    <div class="borda-card" *ngFor="let curso of cursos | async">
      <div class="card" style="width: 18rem;">
        <img [src]="curso.foto" class="card-img-top" >
        <div class="card-body">

          <div class="row">
            <h5 class="card-title">{{ curso.titulo }}</h5>
              <app-ngb-rating class="star" [readonly]=true [max]="5" [rate]="curso.rating"></app-ngb-rating>
          </div>

          <hr>
          <p class="card-text">{{ curso.descricao }}</p>

          <!-- Button trigger modal -->
          <button (click)="openModal(curso)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
           Ver detalhes
          </button>

        </div>
      </div>
    </div>

    <div class="spinner-grow text-primary" role="status" *ngIf="!cursos">
      <span class="visually-hidden"></span>
    </div>

  </div>
  <div class="spinner-grow text-primary" role="status" *ngIf="!cursos">
    <span class="visually-hidden"></span>
  </div>



