.box-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  width: 255px;
  height: 419px;
}

.card img {
  height:170px;
}

.title {
  padding: 30px;

}
.card-title {
  max-width: fit-content;
  vertical-align: bottom;
  margin-bottom: 0;
}
.star {
  vertical-align: top;
  max-width: fit-content;
  font-size: 2rem;
  color: gold;
}
.row {
  display: flex;
  flex-direction: row;
}
#bloco {
  min-height: 50vh;
}

.borda-card {
  padding: 20px;
}

@media screen and (max-width: 650px) {

  .box-cards {
    display: flex;
    flex-direction: column;
  }

  .card {
    margin: auto;
    margin-bottom: 5vh;
    padding-bottom: 5vh;
  }
}
