.bloco {
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  margin: auto;
  padding-bottom: 10vh;
}

.title {
  text-align: center;
  font-size: 5rem;
}
input {
  margin: auto;
  padding: 20px;
  max-width: 30vw;
  min-width: 30vw;
}

button {
  min-width: 30vw;
}
.campos {
  margin: auto;
}

.botao{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.link-cadastro {
  text-align: center;
}


@media screen and (max-width: 700px) {

  input {
    margin: auto;
    padding: 20px;
    max-width: 30vw;
    min-width: 80vw;
  }

  button {
    min-width: 80vw;
  }

}
