<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="#home"><img src="../assets/pixlr-nobg-result.png"></a>
    <button class="navbar-toggler" type="button" (click)="openNav()" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="#cadastro-de-cursos">Cadastro de Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="#cadastro-de-professores">Cadastro de Professores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="#news">Notícias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="#sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="#login" (click)="userLogoff()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="mySidepanel" class="sidepanel">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

  <div class="link">
    <a routerLinkActive="active" routerLink="#home" (click)="closeNav()">Home</a>
  </div>
  <div class="link">
    <a routerLinkActive="active" routerLink="#cadastro-de-cursos" (click)="closeNav()">Cadastro de Cursos</a>
  </div>
  <div class="link">
    <a routerLinkActive="active" routerLink="#cadastro-de-professores" (click)="closeNav()">Cadastro de Professores</a>
  </div>
  <div class="link">
    <a routerLinkActive="active" routerLink="#sobre" (click)="closeNav()">Sobre</a>
  </div>
</div>
<!-- Fim barra de navegação / Início do componente Home-->

<div [@routeAnimations]="prepareRoute(outlet)" [@routeAnimations2]="prepareRoute(outlet)">

<router-outlet #outlet="outlet"></router-outlet>

</div>
